[Unit]
Description=Starts p1 harvester for collecting energy/gas usage data
After=syslog.target

[Service]
Type=simple
Restart=always
User=pi
Group=pi
ExecStart=/usr/local/bin/p1harvester
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
